.purple-box {
    background: #7828E6;

    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    padding-bottom: 28px;
    border-radius: 10px;
}

.purple-box-content {
    width: 300px;
    padding: 24px 0 0 34px;
    @include e(title) {
        padding-top: 0;
        font-size: rem(30px);
        font-weight: 400;
        line-height: 34px;
        letter-spacing: -0.025em;
    }

    @include e(item) {
        padding-top: 25px;
        padding-bottom: 20px;
    }
}

.purple-box-color {
    background: initial;
}

.image-box {
    position: relative;
    top: 29px;
    right: 50px;
    order: 1;
}

.purple-form {
    background: #FFFFFF;
    border-radius: 27px;
    position: relative;
}

.purple-form-box {
    margin-top: 0;
    padding-top: 20px;
    padding-bottom: 0;


    @include e(span) {
        margin: 0;
        position: relative;
        top: 0;
        left: 70px;
        padding-top: 20px;
        padding-bottom: 16px;
        color: #9D9D9D;
    }
}
