.slogan-box {
    margin-top: 19px;
    display: flex;

    @include e(svg) {
        padding-top: 12px;
        padding-bottom: 19px;
    }

    @include e(content) {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        font-size: rem(24px);
        font-weight: 700;
        line-height: rem(28px);
        padding-bottom: 0;
        padding-left: 26px;

    }
}

.slogan-box-color {
    background: #FFEAA2;
}