.counter-box {
    grid-template-columns: minmax(150px, 350px) minmax(150px, 350px) minmax(150px, 350px) minmax(150px, 350px);
    grid-template-rows: 1fr;
    margin-top: rem(80px);
}
.counter-first {
    grid-column: 1;
    grid-row: 1;
    padding-bottom: rem(80px);
    padding-right: rem(75px);
    margin-right: rem(-75px);
    border-right: 1px solid rgba(255, 255, 255, 0.10);
}

.counter-second {
    grid-column: 2;
    grid-row: 1;
    padding-bottom: rem(80px);
    padding-right: rem(75px);
    margin-right: rem(-75px);
    border-right: 1px solid rgba(255, 255, 255, 0.10);
}

.counter-third {
    grid-column: 3;
    grid-row: 1;
    padding-bottom: rem(80px);
    padding-right: rem(75px);
    margin-right: rem(-75px);
    border-right: 1px solid rgba(255, 255, 255, 0.10);
}

.counter-fourth {
    grid-column: 4;
    grid-row: 1;
    padding-bottom: rem(80px);
}