//fonts
$google-font: 'https://fonts.googleapis.com/css2?family=Bilbo+Swash+Caps&family=Poppins:wght@400;500;600;700&display=swap';
$prefix: prefix- !default;
$baseFontSize: 16px;
$baseFontFamily: "Poppins", sans-serif;
$mediumFontWeight: 500;
$mobilePadding: 15px;
$desktopPadding: 1rem;

// Paths

$i: "../i/";
$fontsPath: "../fonts/";
$usersFilesPath: "../userfiles/";

// Colors
$black: #000000;
$white: #ffffff;
$blue: #0d6efd !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #d63384 !default;
$red: #dc3545 !default;

$bgHeaderColor: #674DF3;
$hoverColor: #30F0B6;

$colors: (
  "black": $black,
  "white": $white,
  "blue": $blue,
  "indigo": $indigo,
  "purple": $purple,
  "pink": $pink,
  "red": $red,
  "bgHeaderColor": $bgHeaderColor,
  "hoverColor": $hoverColor,
) !default;
