.article-box {


    @include e(title) {
        margin: 0;
        font-size: rem(20px);
        font-weight: 500;
        line-height: rem(23px);
        margin-top: 24px;
        margin-bottom: 33px;
    }
}

.div-gray {
    flex: 0 0 25%;
    margin-right: 27px;
    background: #C4C4C4;
    border-radius: 7px;
    max-width: 80px;
    height: 70px;

}

.article-div {
    @include e(item) {
        margin: 0;
        font-size: rem(18px);
        line-height: rem(24px);
        padding-bottom: 10px;
        letter-spacing: -0.025em;

    }

    @include e(p) {
        margin: 0;
        font-size: rem(14px);
        line-height: rem(16px);
        letter-spacing: -0.025em;
        color: #E63A28;
    }
}

.top-article-box {
    display: flex;
    flex-direction: row;
    padding-bottom: 15px;

    @include m(second) {
        margin-top: 33px;
    }

    @include m(third) {
        margin-top: 33px;
    }
}