.categories-box {
    display: flex;
    flex-direction: column;

    @include e(title) {
        margin: 0;
        margin-top: 45px;
        margin-bottom: 33px;
        font-size: rem(20px);
        font-weight: 700;
        line-height: rem(23px);
    }
}

.categorie-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;


    @include e(link) {
        text-decoration: none;
        color: initial;
    }


    @include e(item) {
        font-size: rem(16px);
        line-height: rem(18px);
        margin-bottom: 20px;

        &::before {
            content: "●";
            color: #CCCCCC;
            margin-right: 13px;

        }
    }

    @include e(span) {
        @include m(first) {
            padding-left: 134px;
        }
        @include m(second) {
            padding-left: 130px;
        }
        @include m(third) {
            padding-left: 127px;
        }
        @include m(fourth) {
            padding-left: 106px;
        }
        @include m(five) {
            padding-left: 104px;
        }
    }

    @include e(line) {
        &::before {
            content: "";
            border: 1px solid #CCCCCC;
            display: flex;
            width: 290px;
            flex-basis: 100%;
            margin-top: 10px;
        }
    }
}
