.form-box {
    flex-wrap: nowrap;
    max-width: 320px;
    flex-basis: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 27px;
    margin-top: 24px;
    padding: 22px 0;
}

.form {
    position: relative;

    @include e(control) {
        background: url(#{$i}circle.svg) no-repeat;
        width: 20px;
        height: 23px;
        position: absolute;
        left: 80%;
        top: 0;
    }

    @include e(span) {
        padding-left: 50px;
        font-family: Quicksand;
        font-size: rem(16px);
        line-height: rem(20px);
        letter-spacing: -0.025em;
    }
}


