html {
  @include getCssVar(font-size);
}

body {
  @include getCssVar(font-family);
  font-size: 1rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 rem(12px);
}

.images {
  width: 100%;
  max-width: 100%;
  vertical-align: top;
}

.main {
  flex: 1;
}




