.slogan-box {
    margin-top: 22px;

    @include e(svg) {
        text-align: center;
        padding-top: 9px;
        padding-bottom: 23px;
    }

    @include e(content) {
        margin: 0;
        font-family: Ubuntu;
        font-size: rem(24px);
        font-weight: 700;
        line-height: 28px;
        letter-spacing: -0.025em;
        text-align: center;
        padding-bottom: 40px;

    }
}

.slogan-box-color {
    background: #FFEAA2;
}